/* Alap stílusok */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  form {
    flex: 1;
    margin: 0 20px;
  }
  
  form input[type="text"] {
    width: 70%;
    padding: 8px;
    font-size: 16px;
  }
  
  form button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
  }
  
  main {
    min-height: calc(100vh - 150px); /* Adjust as needed */
    padding: 20px 0;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  